.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(5, 1fr); */
  gap: 4rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 40px;
  padding-bottom: 20px;
  
}

.paginado{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  
}