.card{
  display:flex ;
  width: 300px;
  height: 350px;
  color:black;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px black;
  align-items: center;
  background-color: rgba(17, 112, 163, 0.287);  
}

.card:hover{
  opacity: 0.8;
  transform: scale(1.1,1.1);
}
.flagImg{
  width: 100%;
  height: 200px;
  
}
.infoCard{
  font-size: 17px;
  cursor: pointer;
  margin-left: 5px;
}
.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  
}
