.card{
  display:flex ;
  width: 300px;
  height: 350px;
  color:black;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px black;
  align-items: center;
  background-color: rgba(17, 112, 163, 0.287);  
}

.card:hover{
  opacity: 0.8;
  transform: scale(1.1,1.1);
}
.flagImg{
   
    width: 300px;
    height: 200px;
    margin-top: -45px;
    object-fit: fill;
    border-radius: 22px 22px 0 0;
  
}
.infoCard{
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight:bolder;
}
.title{
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  margin-top: 20px;
  
}
.continet{
  
}
