.NavBar {
  display: flex;
  height: 15vh;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: url('../../assets/cool-background\ \(1\).png');
}
.navUp {
  display: flex;
  width: 50%;
  /* align-items: center;
  justify-content: center; */
  gap: 3vw;
  margin-left: 540px;
}
.selects {
 display: flex;
 gap: 3vw;
 margin-left: 500px;
}

.links {
  display: flex;
  gap: 20px;
}

.links div {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 1vh;
}

.Link {
  width: 125px;
  height: 30px;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  
}

.log{
  position: absolute;
  left: 150px;
}
.logo {
  background-color: transparent;
  height: 80px;
  width: 80px;
  background-image: url("../../assets/logo.png");
  background-size: cover;
  
}
.filterSelect{
  width: 13vw;
  /* background: rgba(255,255,255,0.1); */
  background-color: #ffffff5e;
  /* background-color:transparent; */
  border-radius: 10px;
  color: black;
  border: none;
  font-size: 15px;
  outline: 0;
  padding: 15px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  
}
