.NavBar {
  display: flex;
  height: 15vh;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(17, 112, 163, 0.287);
  align-items: center;
}
.navUp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.selects{
  display: flex;
}
.links{
display: flex;

}
.links div{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 1vh;
}

.Link{
  width: 125px;
  
  height: 30px;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
}
.serchBar{
  display: flex;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.logo{
 background-color:transparent;
 height:80px;
 width:80px;
background-image:url("../../assets/logo.png");
background-size: cover;
}